<!DOCTYPE html>

<html lang="en">

<head>

    {% load static %}
    {% load crispy_forms_tags %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | CentroColor</title>

    <!-- librerias bootstrap -->
    
    <!-- estilos -->
    <link href="{% static 'css/menu.css' %}" rel="stylesheet">     

</head>

<body>
  <div class="container1">
      <header class="header">
          <nav class="nav">
              <ul>
                  <li>
                    <a href="#">Inicio</a>
                  </li>
                  <li>
                    <a href="{% url 'registrarAlumno' %}">Formulario</a>
                  </li>
                  <li>
                    <a href="#">Contacto</a>
                  </li>
              </ul>
          </nav>
      </header>        
  </div>

{% block content %}

{% endblock %}
<footer class="pie">
  Centro Color | 2022
</footer>
<script src="main.js"></script>     
</body>
</html>